<!doctype html>
<title>Markdown to Taiga</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>
  const eraseText = () => {
    document.getElementById('text').value = '';
    document.getElementById('text_converted').value = '';
  }
</script>

{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

<form method="post">
  <div class="row">
    <div class="column">
      <label for="username">User Name</label>
      <input type="text" name="username" id="username" placeholder="Your user name for taiga" value="{{ request.form['username'] or '' }}" required>
    </div>
    <div class="column">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" value="{{ request.form['password'] or '' }}" required>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <label for="hostname">Hostname</label>
      <input type="text" name="hostname" id="hostname" placeholder="URL for your taiga (e.g. https://taiga.example.com)" value="{{ request.form['hostname'] or ''  }}" required>
    </div>
    <div class="column">
      <label for="project_name">Project Name</label>
      <input type="text" name="project_name" id="project_name" placeholder="Project name" value="{{ request.form['project_name'] or '' }}" required>
    </div>
    <div class="column">
      <label for="milestone_name">Milestone Name</label>
      <input type="text" name="milestone_name" id="milestone_name" placeholder="Milestone Name (e.g. Sprint1)" value="{{ request.form['milestone_name'] or '' }}">
    </div>
  </div>
  {# <div class="left-align"> #}
  {#   <input type="submit" name="auth" class="btn-auth" value="Authenticate"> #}
  {# </div> #}
  <hr>
  {# {% if status_list %} #}
  {#   <div class="row"> #}
  {#     {% for status in status_list %} #}
  {#       <div class="column"> #}
  {#         {\# <input type="checkbox" name="{{ status.name }}" value="{{ status.name }}" /> #\} #}
  {#         <input type="button" class="btn-status" value="{{ status.name }}"> #}
  {#       </div> #}
  {#     {% endfor %} #}
  {#   </div> #}
  {# {% endif %} #}
  {# <br> #}
  {# {% if tag_list %} #}
  {#   <div class="row"> #}
  {#     {% for tag in tag_list %} #}
  {#       <div class="column"> #}
  {#         {\# <input type="checkbox" name="{{ tag }}" value="{{ tag }}" /> #\} #}
  {#         <input type="button" value="{{ tag }}" class="btn-tag"> #}
  {#       </div> #}
  {#     {% endfor %} #}
  {#   </div> #}
  {# {% endif %} #}
  <div class="row">
    <div class="column">
      <div class="title">
        <span>Markdown Text</span>
      </div>
      <div class="text">
        <textarea name="text" id="text" placeholder="# User Story Title [Xpt]
## Subtask Title

### Description of the subtask

### Definition of completion the subtask

### Demo">{{ text }}</textarea>
      </div>
      <div class="row">
        <div class="column">
          <input type="submit" name="convert" value="Convert" class="btn-square">
        </div>
        <div class="column">
          <input type="button" value="Clear" class="btn-square btn-clear" onclick="javascript:eraseText();">
        </div>
      </div>
    </div>

    <div class="column">
      <div class="title">
        <span>User Stories with Tasks</span>
      </div>
      <div class="text_converted">
        <textarea name="text_converted" id="text_converted" readonly>{{ text_converted }}</textarea>
      </div>
      <div class="row">
        <div class="column">
          <input type="submit" name="create" class="btn-square" value="Create">
        </div>
      </div>
    </div>
  </div>
</form>
