.row {
    display: flex;
}

.column {
    flex: 50%;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

textarea {
    resize: none;
    border: 1px solid #333;
    width: 88%;
    height: 430px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding: 10px 32px 32px 10px;
    color: #333;
}

.btn {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #fff;
    background-color: #326bff;
    width: 30%;
    border-radius: 10px;
    border: none;
    padding: .5rem .75rem;
}

.btn-clear {
    background-color: #ff5565;
}
