html {
    background: #FFF;
}

body {
    background: #F1F1F1;
}

input[type=text], input[type=password] {
    width: 96%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.title {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    text-align: center;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

textarea {
    resize: none;
    width: 92%;
    height: 430px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
    color: #333;
    outline: none;
}

textarea[id=text]:focus {
    border: solid 2px #333;
}

.btn-square {
    width: 85%;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.btn-square:hover {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.btn-clear {
    background: #ff5565;
}

span, label {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    display:block;
    margin-left: 2%;
    text-align: left;
}
