{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit{% endblock %}</h1>
  <a href="{{ url_for('auth.logout') }}">Log Out</a>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="project">Project Name</label>
    <input name="project" id="project" value={{ request.form['project'] or '' }}>
    <label for="text">Markdown Text</label>
    <textarea name="text" id="text">{{ request.form['text'] or '' }}</textarea>
    <input type="submit" value="Submit">
  </form>

  <label for="prompt">Prompt</label>
  <textarea readonly name="prompt" id="prompt">{{ request.form['prompt'] or '' }}</textarea>
{% endblock %}
