{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit{% endblock %}</h1>
  <a href="{{ url_for('auth.logout') }}">Log Out</a>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="project_name">Project Name</label>
    <input name="project_name" id="project_name" value="{{ request.form['project_name'] or '' }}" required>

    <label for="text">Markdown Text</label>
    <textarea name="text" id="text" required>{{ request.form['text'] or '' }}</textarea>
    <input type="submit" value="Submit">

    <p>User Stories to Create</p>
    {# <textarea readonly name="userstories" id="userstories">{{ userstories }}</textarea> #}
    {% for us in userstories %}
      <div>
        {{ us['title'] }}
        <div>
        {% for task in us['task_list'] %}
          <li>{{ task['title'] }}</li>
        {% endfor %}
        <div>
      </div>
    {% endfor %}
    <input type="submit" name="add_us" value="Add User Stories">
  </form>
{% endblock %}
